:root{
    --desktop: 1200px;
    --laptop: 1024px;
    --tablet: 768px;
    --phone: 480px;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



html{
    scroll-behavior: smooth;
}




/* .header {
    display: flex;
    justify-content: flex-end;
    padding: 30px 5%;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  
} */

/* .header h1 {
    
    font-size: 30px;
    cursor: pointer;
    margin-right:auto;
} */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin : auto;
}
.navbar{
    z-index: 1;
    position:fixed;
    padding: 15px 0px;
    
    width: 100%;
    font-family: "Montserrat", sans-serif;
    /* background-color: #24252a; */
    
   
}

.class1{
    padding: 15px 0;
     background-color: #24252a;
     color: snow;
    
}
.navbar .max-width{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
.port{
    font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color:#24252a;
    font-size: 30px;
    font-weight:500px;
}
.port1{
    color:snow;
}
.a-nav{
    display:block;
    font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 500px;
    font-size:17px;
    /* color:#92451b; */
    color: rgb(75, 71, 71);
    text-decoration: none;
}
.a-nav1{
    color: snow;
}
.nav-link li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;

}
.nav-link li a{
    text-decoration: none;
   display: block;
    transition: all 0.7s ease 0s;
}
.nav-link li a:hover{
    /* color: #24252a; */
    color:#92451b;
}
/* style menu btn */
.menu-btn{
    font-size: 20px;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* Home styling */
.home{
    display: flex;
    background: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1750&q=80") no-repeat center ;
    /* background-size: 100%; */
    height: 85vh;
    color: black;
    min-height: 500px;
    font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.home .max-width{
    margin :auto 0 auto 40px;
}
.home-content-1{
    font-size: 30px;
}
.home-content-2{
    font-size: 75px;
    font-weight:600;
    margin-left: -4px;
}
.home-content-3{
    font-size: 40px;
    margin: 5px 0;
    
}
.design1
{
    color:#92451b;
     font-weight:500 ;

}
.design
{
    color:#92451b;
      ;

}
/* About me section styling */
section {
    padding : 80px 0;
}
.about-me-section{
    font-family:  Montserrat;
   
    background: #f8e4e1;
}
.title1{
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    
}
.title1::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 205px;
    height: 4px;
    background: black;
    transform: translateX(-50%);
    
}
.title1::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:#92451b;
    font-weight: 900;
    padding:5px;
    background:#f8e4e1;
    
    transform: translateX(-50%);
    
}
.about-content, .projects-content, .skills .skills-content,.contact .contact-content{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}.left{
    width:45%;
}
.left img{
    height :400px;
    width: 400px;
    object-fit: cover;
   
    border-radius: 6px;
}
.right{
    width: 55%;
}
.text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.text span{
   color: #92451b ;
}
.right p{
    text-align: justify;
}
/* Projects section styling */
.projects .card{
    height: 350px;
    max-height: 350px;
}
.projects .card p {
    text-align: justify;
}
.wrap{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.projects, .skills{
    font-family:  Montserrat;
    background:#fff4f2;
}
.projects .title1::after{
    background:#fff4f2;
    content: "My works";

}
.card{
    width:calc(33% - 20px);
    text-align: center;
  background: #f8e4e1;
    border-radius: 6px;
    padding: 25px 35px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 8px -4px lightblue ;
}
.card:hover{
background: black ;
color:snow;
}
.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.card:hover .box{
    transform: scale(1.05)
}
.project-title{
    font-size:25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.day-planner{
    height:150px;
    width:150px;
    object-fit:contain;
    border-radius: 50%;
    border: 5px solid #92451b;
}
.jobs{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #92451b;
}
.weather{
    height:150px;
    width:150px;
    object-fit:fill;
    border-radius: 50%;
    border: 5px solid #92451b;
}
.quiz{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #92451b;
}
.mat{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #92451b;
}
.blog{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #92451b;
}
.box p{
    text-align: justify;
}
/* Skills section styling */
.skills{
    background: #f8e4e1;
}
.skills .title1::after{
    content:"what i know";
    background:#f8e4e1;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size:25px;
    font-weight:600;
    margin-bottom:10px;
}
.skills .skills-content .right .bars{
    
    margin-bottom:8px;
}
.skills .skills-content .right .info{
   display:flex;
   align-items: center; 
   justify-content: space-between;
   margin-bottom: 3px;
   
}
.skills .skills-content .right .span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width:100%;
    background:lightgrey;
    position:relative;
}
.skills .skills-content .right .line::before{
    content:"";
    position: absolute;
    height:100%;
    width:80%;
    background-color: #92451b;

}
/* .dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
} */
.skills .skills-content .right .html::before{
width:90%;
border-radius: 50px;

}
.skills .skills-content .right .css::before{
 width:60%;
border-radius: 50px;   
}
.skills .skills-content .right .js::before{
 width:80%;
border-radius: 50px;
}
.skills .skills-content .right .express::before{
    width:85%;
border-radius: 50px;
}
.skills .skills-content .right .mysql::before{
    width:70%;
border-radius: 50px;
}
.skills .skills-content p{
    font-family:  Montserrat;
    font-size: 20px;

}


/* contact section styling */
.contact{
    background:#fff4f2;
}
.contact .title1::after{
    content:"Get in Touch";
    background:#fff4f2;
}
.contact .contact-content p{
    font-family:  Montserrat;
    font-size: 20px;
    text-align: justify;

}
.contact .contact-content .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display:flex;
    height:65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 20px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color:#92451b;
}
.contact .contact-content .info .head{
    font-weight: 600;
}
.contact .contact-content .info .sub-title{
   color:black;
}
.contact .contact-content .column{
    width: calc(50% - 40px);
}
.contact .right{
    margin-top: -20px;
}
.contact .right form .fields{
display: flex;
}
.contact .right form .field{
height:45px;
width:100%;
margin-bottom: 15px;
}
.contact .right form .name{
    margin-right:10px;
}
.contact .right form .email{
    margin-left:10px;
}
.contact .right form .textarea {
   height: 80px;
  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height:100%;
    width:100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: Montserrat;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    /* resize: none; */
}
.contact .right form .button-area{
    height: 50px;
    width:170px;
}
.contact .right form .button-area button{
    height: 100%;
    width:100%;
    border: 2px solid #92451b;
    background: #92451b;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.contact .right form .button-area button:hover{
    color:#92451b;
    background: none;
}
.contact a{
    text-decoration: none;
    color: black;
}



footer{
    background: black;
    padding: 20px 23px;
    color: white;
    text-align: center;
}
/* .contact{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size:20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    background-color: #24252a;
    padding: 10px 5%;
    color:snow;
} */
.a-link a{
    color:cyan;
    display: inline-block;
    padding: 0px 30px;
    text-decoration: none;
    transition: all 0.7s ease 0s;
    color:snow;
}
.a-link a:hover{
    color:#92451b;
}
/* responsive design */
@media screen and (max-width:1300px){
    .home .max-width{
    margin-left: 0px;
    }

}
@media screen and (max-width:1104px){
    .left img{
        height :300px;
        width: 300px;   
    }
.card{
    width:50%;
    margin-right:-20px;

}
}

@media screen and (max-width:947px){
    .max-width{
        
        padding: 0 50px;  
    }
    .menu-btn{
        
        display:block;
        z-index: 1;
        font-size:25px;
        font-weight: 300;
        color: snow;
    }
    .menu-btn i.active:before{
        content:"\f00d";
        color:black;
    }

     .nav-link{
        position:fixed;
       height: 100vh;
       width:100%;
       left:-100%;
       top:0px;
       text-align:center;
       padding-top:80px;
       background: snow;
       
    }
    .active{
        left:0;
    }
    .nav-link li{
        display:block;
    }
    .nav-link li a{
        display:inline-block;
        margin:20px 0;
        font-size: 20px;
        color:#24252a;
    }
    .home-content-2{
        font-size: 70px;
        
    }
    .home-content-3{
        font-size: 35px;
    }
    .max-width{
        max-width: 800px;
    }
    .column{
        width: 100%;
      }
      .avatar{
          /* align-items: center;
          align-self: center; */
          display: block;
          margin: 0 auto;

      }
      .left{
          /* display:flex; */
          justify-content: center;
          margin: 0 auto 60px; 
      }
      .right{
          flex:100%
      }
      .projects .projects-content .card{
          width: 50%;
          padding-left: 10px;
          margin-bottom: 20px; 
      }
      .card .box img{
          height: 100px;
          width: 100px;
      }
      .skills .skills-content .column,
      .contact .contact-content .column,
      .contact .contact-content .column .icons{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width:690px){
    .max-width{
        
        padding: 0 20px;  
    }
    .home-content-2{
        font-size: 50px;
        
    }
    .home-content-3{
        font-size: 30px;
    }
   .projects .projects-content .card,
   .skills .skills-content .column{
       width: 100%;
        
    }
    
}


/*  */

  
  


